*{
    padding:0px;
    margin:0px;
}
.conatiner{
    display:flex;
    margin:20px;
    justify-content: space-between;   
}
.div{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 2px; 
    margin: 7px; 
}
@media (max-width: 768px) {
    .div img {
        max-width: 70%; 
    }
    .div button {
        padding: 8px 16px;
        font-size: 14px; 
    }
}


@media (max-width: 480px) {
    .div img {
        max-width: 100%; 
    }
    .div button {
        padding: 6px 12px; 
        font-size: 12px; 
    }
}

.div button{
    background-color: aquamarine;
    justify-content:  center;
}